.inputGroup {
  background-color: #fff;
  display: block;
  position: relative;
}
.inputGroup:hover {
  background-color: #f5f5f5;
}
.inputGroup label {
  padding: 10px 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-right: 70px;
  text-align: left;
  color: #3c454c;
  cursor: pointer;
  position: relative;
  z-index: 2;
  transition: color 200ms ease-in;
  overflow: hidden;
}
.inputGroup label:before {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale3d(1, 1, 1);
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  z-index: -1;
}

.inputGroup label:after {
  width: 18px;
  height: 18px;
  content: "";
  border: 2px solid #d1d7dc;
  background-color: #fff;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMTUiIGhlaWdodD0iMTUiIHZpZXdCb3g9IjAgMCA0OCA0OCIKc3R5bGU9ImZpbGw6I0ZGRkZGRjsiPgo8cGF0aCBkPSJNIDQzLjQ3MDcwMyA4Ljk4NjMyODEgQSAxLjUwMDE1IDEuNTAwMTUgMCAwIDAgNDIuNDM5NDUzIDkuNDM5NDUzMSBMIDE2LjUgMzUuMzc4OTA2IEwgNS41NjA1NDY5IDI0LjQzOTQ1MyBBIDEuNTAwMTUgMS41MDAxNSAwIDEgMCAzLjQzOTQ1MzEgMjYuNTYwNTQ3IEwgMTUuNDM5NDUzIDM4LjU2MDU0NyBBIDEuNTAwMTUgMS41MDAxNSAwIDAgMCAxNy41NjA1NDcgMzguNTYwNTQ3IEwgNDQuNTYwNTQ3IDExLjU2MDU0NyBBIDEuNTAwMTUgMS41MDAxNSAwIDAgMCA0My40NzA3MDMgOC45ODYzMjgxIHoiPjwvcGF0aD4KPC9zdmc+")
    50% 50% no-repeat;
  background-size: 90%;
  background-position: 1px 1.5px;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: all 200ms ease-in;
}

.inputGroup input:checked ~ input {
  transform: translate(-50%, -50%) scale3d(56, 56, 1);
  opacity: 1;
}

.inputGroup input:checked ~ label:after {
  background-color: #54e0c7;
  border-color: #54e0c7;
}

.inputGroup input {
  width: 25px;
  height: 25px;
  order: 1;
  z-index: 2;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  visibility: hidden;
}
